.about-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  cursor: default;
}

.about-modal-close {
  display: none;
}

.about-modal-background {
  background-color: black;
  opacity: 0.6;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.about-modal-information {
  background-color: var(--charcoal);
  position: fixed;
  width: 600px;
  height: 500px;
  z-index: 4;
  padding: 40px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-modal-information h3 {
  font-size: 3rem;
  color: var(--ash);
  padding: 0;
  margin: 0;
}

.about-modal-information p {
  color: var(--ash);
}

.about-modal-x {
  color: white;
  font-size: 5rem;
  position: fixed;
  z-index: 3;
  margin-left: 260px;
  cursor: pointer;
  background-color: var(--fireRed);
  padding: 10px 40px 10px 60px;
  transition-duration: 0.6s;
}

.about-modal-x:hover {
  transform: translateX(95px);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.fa-times {
  transition-duration: 0.4s;
}

.about-modal-x:hover .fa-times {
  transform: rotate(720deg);
}