.guide-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;

  border: red solid 1px;
}

.guide-modal-close {
  display: none;
}

.guide-modal .guide-modal-background {
  background-color: black;
  opacity: 0.6;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.guide-modal .guide {
  width: 60%;
  height: 50%;
  position: fixed;
  z-index: 4;
  /* background-color: white; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.guide-controls-main, .guide-music-choices {
  height: 90%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.guide-controls-main h3, .guide-music-choices h3 {
  padding: 0;
  margin: 0;
  color: var(--ash);
  padding-top: 14px;
  font-size: 1rem;
}

.guide-controls-main {
  border-top-left-radius: 20px;
}

.guide-music-choices {
  border-bottom-right-radius: 20px;
}

.guide-splitter {
  height: 10%;
}