header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#guide, #about {
  color: white;
  font-size: 2rem;
  padding: 6px 10px;
  border: white solid 1px;
  border-radius: 6px;
  cursor: pointer;
  transition-duration: 0.4s;

  display: flex;
  justify-content: center;
  align-items: center;
}

#guide:hover {
  background-color: var(--fireRed);
  /* padding-right: 200px; */
}

#about:hover {
  background-color: var(--waterBlue);
  /* padding-left: 200px; */
}