.playlist-enlarge {
  position: absolute;
  color: white;
  transform: rotate(45deg);
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  top: -10px;
  transition-duration: 0.3s;
}

.playlist-enlarge:hover {
  color: var(--ash);
}

.playlist-small {
  position: absolute;
  color: white;
  transform: rotate(225deg);
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  top: -10px;
  transition-duration: 0.3s;
}

.playlist-small:hover {
  color: var(--ash);
}

.playlist-songs {
  height: 150px;
  overflow: auto;
  transition-duration: 0.3s;
}

.playlist-songs-enlarged {
  height: 460px;
  overflow: auto;
  transition-duration: 0.3s;
}

#playlist-songs span {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  color: rgb(114, 114, 114);
  cursor: pointer;
  padding: 4px 0;
  transition-duration: 0.3s;
}

#playlist-songs span:hover {
  background-color: var(--charcoal);
  color: white;
  text-shadow: 0 0 3px white;
}

#playlist-spacer {
  height: 1px;
  width: 250px;
  margin: auto;
  background-color: var(--ash);
}

