.pause-screen {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 7px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pause-screen-hide {
  display: none;
}

.pause-screen-message {
  color: white;
  text-shadow: 0 0 5px white;
  text-align: center;
  padding: 0 10%;
  cursor: default;
  font-size: 3rem;

  animation: pauseScreenMessageFloat 1.2s linear infinite;
}

@keyframes pauseScreenMessageFloat {
  0%, 100% {
    transform: translateY(4px);
    text-shadow: 0 0 20px white;
  }

  50% {
    transform: translateY(-4px);
    text-shadow: 0 0 0;
  }
}
