#left-sidebar {
  width: 300px;
  height: 600px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#high-score, #playlist {
  height: 290px;
  width: 300px;
  background-color: var(--charcoal);
  position: relative;
  overflow: hidden;
}

#playlist-enlarge {
  position: absolute;
  color: white;
  transform: rotate(45deg);
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  top: -10px;
  transition-duration: 0.2s;
}

#playlist-enlarge:hover {
  color: var(--ash);
}

#playlist-background {
  background-image: url(../images/playlist_images/team_rocket.jpg);
  background-size: cover;
  background-repeat: none;
  height: 140px;
}

#playlist-songs {
  height: 150px;
  overflow: auto;
}

#playlist-songs span {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  color: rgb(114, 114, 114);
  cursor: pointer;
  padding: 4px 0;
  transition-duration: 0.3s;
}

#playlist-songs span:hover {
  background-color: var(--charcoal);
  color: white;
  text-shadow: 0 0 3px white;
}

#playlist-spacer {
  height: 1px;
  width: 250px;
  margin: auto;
  background-color: var(--ash);
}

#right-sidebar {
  border: red solid 1px;

  width: 300px;
  height: 600px;
  margin-left: 40px;
}