#left-sidebar {
  width: 300px;
  height: 600px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.high-score, .playlist {
  height: 290px;
  width: 300px;
  background-color: var(--charcoal);
  position: relative;
  overflow: hidden;
}

.high-score-enlarged {
  height: 600px;
  width: 300px;
  background-color: var(--charcoal);
  position: relative;
  overflow: hidden;
}

.playlist-enlarged {
  min-height: 290px;
  width: 300px;
  background-color: var(--charcoal);
  position: relative;
  overflow: hidden;
  left: 25px;
  position: absolute;
}

#high-score h3 {
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
  text-shadow: 0 0 5px white;
  padding: 10px 0;
  background-color: rgba(32, 32, 32, 0.438);
  cursor: default;
}

#high-score-scores {
  overflow: auto;
}

.playlist-enlarge {
  position: absolute;
  color: white;
  transform: rotate(45deg);
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  top: -10px;
  transition-duration: 0.2s;
}

.playlist-enlarge:hover {
  color: var(--ash);
}

.playlist-small {
  position: absolute;
  color: white;
  transform: rotate(225deg);
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  top: -10px;
  transition-duration: 0.2s;
}

.playlist-small:hover {
  color: var(--ash);
}

#playlist-background {
  background-image: url(../images/playlist_images/team_rocket.jpg);
  background-size: cover;
  background-repeat: none;
  height: 140px;
}

.playlist-songs {
  height: 150px;
  overflow: auto;
}

.playlist-songs-enlarged {
  height: 460px;
  overflow: auto;
}

#playlist-songs span {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  color: rgb(114, 114, 114);
  cursor: pointer;
  padding: 4px 0;
  transition-duration: 0.3s;
}

#playlist-songs span:hover {
  background-color: var(--charcoal);
  color: white;
  text-shadow: 0 0 3px white;
}

#playlist-spacer {
  height: 1px;
  width: 250px;
  margin: auto;
  background-color: var(--ash);
}

#right-sidebar {
  width: 300px;
  height: 600px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#next-piece-title, #saved-piece-title {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 8px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 5px white;
  cursor: default;
}

#next-piece, #saved-piece {
  width: 160px;
  height: 160px;
  border: var(--charcoal) solid 8px;
  border-radius: 10px;
  background-color: var(--ash);
}

#points-title {
  font-size: 1.3rem;
  padding: 6px 10px;
  color: white;
  text-align: center;
  box-shadow: 0 0 10px 2px white;
  cursor: default;
}

#points {
  text-align: center;
  color: white;
  margin-top: 15px;
  font-size: 1rem;
  cursor: default;
}